.functional_section {
    display: flex;
    flex-direction: column;
    background-color: tomato;
    align-items:flex-start;
    
    
    padding:3rem;
    font-family: 'Montserrat', sans-serif !important;
    
}


input {
    min-width:100%;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    border: none;
    padding:0.3rem;
}

.age {
    min-width:20%;
}

.func-submit-btn {
    min-width:10%;
    background-color: cadetblue;
    
}


@media (min-width: 560px) { 
    input {
        min-width:40%;
       
    }

}